<h1>Edit posts</h1>
<%= form_with model: @article, local: true do |form| %>
  <%= form.label :title, "Title" %>
  <%= form.text_field :title, class: "form-control" %>
  <br>
  <%= form.label :body, "Body" %>
  <%= form.text_area :body, class: "form-control", size:"20x10" %>
  <%= form.submit "Update", style:"color:white;", class: "btn btn-primary btn-dark col-12" %>
<% end %>