<h1>新規論文投稿</h1>
<%= form_with model: @article, local: true do |form| %>
  <p><%= form.label '論文タイトル'%><br>
    <%= form.text_field :title %></p>
  <p><%= form.label '本文'%><br>
    <%= form.text_area :body %></p>
  <%= form.submit "投稿" %>
<% end %>