<h1>論文詳細</h1>
<p>
タイトル：<%= @article.title %>
</p>
<p>
<%= @article.body %>
</p>
<%= link_to "一覧に戻る", articles_path %>
<%= link_to "編集", edit_article_path %>
<%= link_to "削除", article_path(@article), method: :delete, data: {confirm: '削除してよろしいですか？'} %>