<!DOCTYPE html>
<html>
  <head>
    <title>CampWeekdayTask7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- jumbotron -->
  <div class="jumbotron text-center" style="margin-bottom:0">
　<h1>論文一覧.com</h1>
  <p>世界中の論文をまとめたサイトです。<br>閲覧も投稿もご自由にどうぞ！</p>
</div>
  <!-- navbar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/articles">Articles</a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/articles/new">New posts</a>
              </li>
          </ul>
      </div>
  </nav>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
